h2 {
    color: aliceblue;
    background: grey;
    border: solid, red;
    border-radius: 20px;
    padding: 1em;
    margin: .5em;
}

ul li {
    display: inline-flex;
    flex: wrap;
    flex-direction: row;
    border-radius: 10px;
    color: rgb(13, 57, 95);
    background: rgb(191, 239, 245);
    border: solid, rgb(46, 35, 35);
    padding: 1em;
    margin: .5em;
    list-style-type: none;
    width: 10%;
}

ul li:hover {
    list-style-type: none;
    cursor: pointer;
    background: rgb(123, 222, 235);
    padding: .9em;
    margin: .6em;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}