<div class="contentBody">
    <div class="Header mydesign">
        <div>Rajat</div>
        <div>Vijay</div>
        <div>Siddhi</div>
    </div>
    <div class="mainBody">
        <!-- Basic card section -->
        <section class="section overview">
            <header class="section-info overview-info">
                <h1 class="section-title overview-title">Cards</h1>
                <p class="section-text overview-text">
                    Cards are a basic way to show information. They can contain images, links, buttons, and text. Cards can also be flip to reveal a back side.
                </p>
            </header>
            <!-- Basic card container -->
            <div class="card-container">
                <div class="card-container-body">
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>I am a basic card</h3>
                                <p>
                                    I can have titles, text, images, and links.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-card-flippable="true">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>I am a card, and I can flip</h3>
                                <p>
                                    Click the icon in the lower right to flip me!!
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                            </div>
                        </div>
                        <div class="card-back" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>I have some text and an image back here</h3>
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
                                    placerat eleifend leo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-card-selectable="true">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>I am a card, and I can be selected</h3>
                                <p>
                                    Click on me to toggle selected state.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="top">
                            <div class="card-image card-image-top">
                                <img src="http://placekitten.com/g/50/50" />
                            </div>
                            <div class="card-content">
                                <h3>Images on top</h3>
                                <p>
                                    Images can be placed at the top of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/600/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on bottom</h3>
                                <p>
                                    Images can be placed at the bottom of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="left">
                            <div class="card-image card-image-left">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on left</h3>
                                <p>
                                    Images can be placed on the left of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="right">
                            <div class="card-image card-image-right">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on right</h3>
                                <p>
                                    Images can be placed on the left of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End basic card container -->
        </section>
        <!-- End basic card section -->


        <!-- Card container group section -->
        <section class="section group">
            <header class="section-info group-info">
                <h1 class="section-title group-title">Card Container: Group</h1>
                <p class="section-text group-text">
                    Group cards together within a card-container. Card containers have a header are for the title and any action links. Group type makes card into flex items to make same height cards.
                </p>
            </header>
            <!-- Card container group -->
            <div class="card-container card-group">
                <header class="card-container-header">
                    <h2 class="card-container-title">Card Group <small class="subtitle">Basic flexbox container</small></h2>
                </header>
                <div class="card-container-body">
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Simple cards</h3>
                                <p>
                                    Cards can be as simple as just a header and some text.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-card-flippable="true">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Simple cards</h3>
                            </div>
                        </div>
                        <div class="card-back" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Or can be a little more complex</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra, orci non pharetra mattis, nunc urna hendrerit tortor, facilisis feugiat magna felis sit amet ante. Etiam elementum vestibulum mauris, ut vulputate quam egestas ornare. In consequat
                                    rutrum interdum. Ut elementum tempus ex eu fermentum. Praesent faucibus velit vitae ex consequat, a consectetur leo efficitur. Phasellus vitae bibendum diam. Nullam purus ante, ultrices eget ornare sit amet, facilisis
                                    sed magna. Morbi auctor, mi ac volutpat accumsan, diam nisl ornare sapien, sed interdum risus quam eget eros. Sed nulla dolor, tristique et imperdiet et, varius eu arcu. Ut commodo condimentum mauris, et auctor arcu
                                    congue a. Nulla facilisi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Add some actions</h3>
                                <p>
                                    We can even add some links to card to make them even more useful.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="top">
                            <div class="card-image card-image-top">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on top</h3>
                                <p>
                                    Images can be placed at the top of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on bottom</h3>
                                <p>
                                    Or we can put them on the bottom of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>We can even go crazy and add a whole bunch of stuff to our cards!</h3>
                                <p>
                                    Long titles, lots of text, or no titles. We can mix and match elements to make our card as simple or complex as possible.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                                <a href="">Maybe a fourth link</a>
                                <a href="">Lets do five links</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End container group -->

            <!-- Styled card container group -->
            <div class="card-container card-container-styled card-group">
                <header class="card-container-header">
                    <h2 class="card-container-title">Card containers can be styled</h2>
                    <div class="card-container-actions">
                        <a href="#">containers</a>
                        <a href="#">can have</a>
                        <a href="#">links also</a>
                    </div>
                </header>
                <div class="card-container-body">
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Card title w/ text</h3>
                                <p>
                                    Basic card content
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Card title w/o text</h3>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End styled card container group -->
        </section>
        <!-- End card container group section -->


        <!-- Card container columns section -->
        <section class="section columns">
            <header class="section-info columns-info">
                <h1 class="section-title columns-title">Card Container: Columns</h1>
                <p class="section-text columns-text">
                    Column card container gives us a masonary style layout. Cards are smart enough to rearrange themselves into perfect columns. We could even give options to the number of columns to set. **Note: Although flippable cards do work in columns, sometimes they
                    behave unexpectically**
                </p>
            </header>
            <!-- Card container columns -->
            <div class="card-container card-columns">
                <header class="card-container-header">
                    <h2 class="card-container-title">Card Column <small class="subtitle">Masonary style container</small></h2>
                </header>
                <div class="card-container-body">
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Simple cards</h3>
                                <p>
                                    Cards can be as simple as just a header and some text.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-image">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                        </div>
                    </div>
                    <div class="card" data-card-flippable="true">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Add some actions</h3>
                                <p>
                                    We can even add some links to card to make them even more useful.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="card-content">
                                <p>
                                    Add useful information to the back!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="top">
                            <div class="card-image card-image-top">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on top</h3>
                                <p>
                                    Images can be placed at the top of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on bottom</h3>
                                <p>
                                    Or we can put them on the bottom of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>We can even go crazy and add a whole bunch of stuff to our cards!</h3>
                                <p>
                                    Long titles, lots of text, or no titles. We can mix and match elements to make our card as simple or complex as possible.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                                <a href="">Maybe a fourth link</a>
                                <a href="">Lets do five links</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Simple cards</h3>
                                <p>
                                    Cards can be as simple as just a header and some text.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-card-flippable="true">
                        <div class="card-front">
                            <div class="card-image">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                        </div>
                        <div class="card-back" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Or can be a little more complex</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra, orci non pharetra mattis, nunc urna hendrerit tortor, facilisis feugiat magna felis sit amet ante. Etiam elementum vestibulum mauris, ut vulputate quam egestas ornare. In consequat
                                    rutrum interdum. Ut elementum tempus ex eu fermentum. Praesent faucibus velit vitae ex consequat, a consectetur leo efficitur. Phasellus vitae bibendum diam. Nullam purus ante, ultrices eget ornare sit amet, facilisis
                                    sed magna. Morbi auctor, mi ac volutpat accumsan, diam nisl ornare sapien, sed interdum risus quam eget eros. Sed nulla dolor, tristique et imperdiet et, varius eu arcu. Ut commodo condimentum mauris, et auctor arcu
                                    congue a. Nulla facilisi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Add some actions</h3>
                                <p>
                                    We can even add some links to card to make them even more useful.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="top">
                            <div class="card-image card-image-top">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on top</h3>
                                <p>
                                    Images can be placed at the top of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on bottom</h3>
                                <p>
                                    Or we can put them on the bottom of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>We can even go crazy and add a whole bunch of stuff to our cards!</h3>
                                <p>
                                    Long titles, lots of text, or no titles. We can mix and match elements to make our card as simple or complex as possible.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                                <a href="">Maybe a fourth link</a>
                                <a href="">Lets do five links</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Simple cards</h3>
                                <p>
                                    Cards can be as simple as just a header and some text.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card" data-card-flippable="true">
                        <div class="card-front">
                            <div class="card-image">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                        </div>
                        <div class="card-back" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Or can be a little more complex</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra, orci non pharetra mattis, nunc urna hendrerit tortor, facilisis feugiat magna felis sit amet ante. Etiam elementum vestibulum mauris, ut vulputate quam egestas ornare. In consequat
                                    rutrum interdum. Ut elementum tempus ex eu fermentum. Praesent faucibus velit vitae ex consequat, a consectetur leo efficitur. Phasellus vitae bibendum diam. Nullam purus ante, ultrices eget ornare sit amet, facilisis
                                    sed magna. Morbi auctor, mi ac volutpat accumsan, diam nisl ornare sapien, sed interdum risus quam eget eros. Sed nulla dolor, tristique et imperdiet et, varius eu arcu. Ut commodo condimentum mauris, et auctor arcu
                                    congue a. Nulla facilisi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Add some actions</h3>
                                <p>
                                    We can even add some links to card to make them even more useful.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="top">
                            <div class="card-image card-image-top">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on top</h3>
                                <p>
                                    Images can be placed at the top of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>Images on bottom</h3>
                                <p>
                                    Or we can put them on the bottom of cards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="bottom">
                            <div class="card-image card-image-bottom">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>We can even go crazy and add a whole bunch of stuff to our cards!</h3>
                                <p>
                                    Long titles, lots of text, or no titles. We can mix and match elements to make our card as simple or complex as possible.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                                <a href="">Maybe a fourth link</a>
                                <a href="">Lets do five links</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End card container columns -->

            <!-- Styled card container columns -->
            <div class="card-container card-container-styled card-columns">
                <header class="card-container-header">
                    <h2 class="card-container-title">Even card columns can be styled!</h2>
                </header>
                <div class="card-container-body">
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Basic card and header</h3>
                                <p>
                                    I don't have an image. I only have a title, text, and some links.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                                <a href="">A third link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front" data-image-position="top">
                            <div class="card-image card-image-top">
                                <img src="http://placekitten.com/g/320/180" />
                            </div>
                            <div class="card-content">
                                <h3>A small title</h3>
                                <p>
                                    Some basic text, no links however
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>I am a card title and I am going to be very long</h3>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                                <a href="">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End styled card container columns -->
        </section>
        <!-- End card conatiner columns section -->


        <!-- Card text alignment section -->
        <section class="section alignment">
            <header class="section-info alignment-info">
                <h1 class="section-title alignment-title">Text Alignment</h1>
                <p class="section-text alignment-text">
                    Cards can have their text alignment adjusted to left, right, or center.
                </p>
            </header>
            <!-- Text alignment container -->
            <div class="card-container text-center">
                <div class="card-container-body">
                    <div class="card text-left">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Basic card: left text</h3>
                                <p>
                                    I'm just a standard card with my text aligned to the left
                                </p>
                                <button class="btn">Click me!</button>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Basic card: center text</h3>
                                <p>
                                    I'm just a standard card with my text aligned to the center
                                </p>
                                <button class="btn">Click me!</button>
                            </div>
                        </div>
                    </div>
                    <div class="card text-right">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Basic card: right text</h3>
                                <p>
                                    I'm just a standard card with my text aligned to the right
                                </p>
                                <button class="btn">Click me!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End text alignment container -->
        </section>
        <!-- End text alignment section -->


        <!-- Card state section -->
        <section class="section states">
            <header class="section-info states-info">
                <h1 class="section-title states-title">Card State Variants</h1>
                <p class="section-text states-text">
                    Cards can have their background and colors change to match a particular state.
                </p>
            </header>
            <!-- Card state conatiner -->
            <div class="card-container">
                <div class="card-container-body">
                    <div class="card card-inverse card-primary">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Primary card</h3>
                                <p>
                                    I'm just a standard card with a primary color background.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-alert">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Alert card</h3>
                                <p>
                                    I'm just a standard card with an info color background.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-success">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Success card</h3>
                                <p>
                                    I'm just a standard card with a success color background.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-warning">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Warning card</h3>
                                <p>
                                    I'm just a standard card with a warning color background.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-danger">
                        <div class="card-front">
                            <div class="card-content">
                                <h3>Danger card</h3>
                                <p>
                                    I'm just a standard card with a danger color background.
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="">Card link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End card state container -->
        </section>
        <!-- End card state section -->




















    </div>
    <div class="myFooter">
        <span>Let's Go</span>
    </div>

</div>