.contentBody {
    width: 100%;
    height: 100%;
}

.contentBody .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #f5f5f5;
    padding: 1rem
}

.myFooter {
    position: fixed;
    bottom: 0;
    text-align: center;
    background: red;
    color: white;
    width: 100%;
    padding: 10px;
    /* left: 0; */
    /* right: 0; */
}

.card-container {
    margin-bottom: 40px;
}

.card-container-header {
    margin-bottom: 10px;
}

@media (min-width: 40em) {
    .card-container-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.card-container-title {
    margin-bottom: 0;
}

.card-container-actions>a:not(:last-child) {
    margin-right: 10px;
}

.card-container-styled>.card-container-body {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0;
}

.card-group>.card-container-body {
    display: flex;
    flex-wrap: wrap;
}

.card-columns>.card-container-body {
    -webkit-column-count: 1;
    column-count: 1;
}

@media (min-width: 40em) {
    .card-columns>.card-container-body {
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 60em) {
    .card-columns>.card-container-body {
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 80em) {
    .card-columns>.card-container-body {
        -webkit-column-count: 5;
        column-count: 5;
    }
}

.card-columns>.card-container-body>.card {
    max-width: 100%;
}

.card {
    display: inline-flex;
    margin-bottom: 20px;
    margin-right: 10px;
    max-width: 320px;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.card-back,
.card-front {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    width: 100%;
}

@media (min-width: 30em) {
    .card-back[data-image-position='left'],
    .card-back[data-image-position='right'],
    .card-front[data-image-position='left'],
    .card-front[data-image-position='right'] {
        flex-direction: row;
    }
}

.card-front {
    display: flex;
    flex-direction: column;
}

.card-image {
    min-height: 1px;
}

.card-image>img {
    border-radius: 3px;
    display: block;
    margin: auto;
    max-width: 100%;
}

.card-image:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.card-image-left,
.card-image-right {
    width: 100%;
}

@media (min-width: 30em) {
    .card-image-left,
    .card-image-right {
        max-width: 55%;
    }
}

.card-image-left>img,
.card-image-right>img {
    height: 100%;
}

.card-image-top>img {
    border-radius: 3px 3px 0 0;
}

.card-image-bottom {
    order: 1;
}

.card-image-bottom>img {
    border-radius: 0 0 3px 3px;
}

.card-image-right {
    order: 1;
}

.card-content {
    padding: 15px;
    flex: 1 1 auto;
}

.card-actions {
    padding: 15px;
}

.card-actions>a {
    color: #2ea0eb;
    font-size: .8571rem;
    text-decoration: none;
}

.card-actions>a:not(:last-child) {
    margin-right: 10px;
}

.card-actions>a:hover {
    color: #2580bc;
}

.card-flip-container {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    width: 100%;
}

.card-flip-container>.card-back,
.card-flip-container>.card-front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.65s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.65s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-flip-container>.card-front {
    -webkit-transform: rotateY(0) translate3d(0, 0, 2px);
    transform: rotateY(0) translate3d(0, 0, 2px);
}

.card-flip-container>.card-back {
    height: 0;
    margin-top: -2px;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    width: 0;
}

.card-flipped>.card-back {
    height: 100%;
    opacity: 1;
    overflow: visible;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    width: 100%;
}

.card-flipped>.card-front {
    height: 0;
    overflow: hidden;
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 2px);
    transform: rotateY(180deg) translate3d(0, 0, 2px);
    width: 0;
}

.card-flip-button {
    bottom: 2px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-size: 1.25rem;
    position: absolute;
    right: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.card-selected>.card-front {
    background: #2ea0eb;
    border-color: #2788c8;
    box-shadow: inset 0 -4px 0 0 #2788c8;
    color: #fff;
}

.card-selected .card-actions>a {
    color: #fff;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.card-inverse {
    color: #fff;
}

.card-inverse .card-actions>a {
    color: #fff;
}

.card-primary>.card-back,
.card-primary>.card-front {
    background: #2ea0eb;
    border-color: #2788c8;
    box-shadow: inset 0 -4px 0 0 #2788c8;
}

.card-alert>.card-back,
.card-alert>.card-front {
    background: #ffdc73;
    border-color: #d9bb62;
    box-shadow: inset 0 -4px 0 0 #d9bb62;
}

.card-success>.card-back,
.card-success>.card-front {
    background: #89d085;
    border-color: #74b171;
    box-shadow: inset 0 -4px 0 0 #74b171;
}

.card-warning>.card-back,
.card-warning>.card-front {
    background: #f29a4e;
    border-color: #ce8342;
    box-shadow: inset 0 -4px 0 0 #ce8342;
}

.card-danger>.card-back,
.card-danger>.card-front {
    background: #fa5757;
    border-color: #d54a4a;
    box-shadow: inset 0 -4px 0 0 #d54a4a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 87.5%;
}

p {
    margin-top: 0;
}

h1 {
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-weight: 700;
    margin-top: 0;
}

h3 {
    font-weight: 700;
    margin-top: 0;
}

h4 {
    font-weight: 700;
    margin-top: 0;
}

h5 {
    font-weight: 700;
    margin-top: 0;
}

h6 {
    font-weight: 700;
    margin-top: 0;
}

.section {
    background: #f7f7f7;
    border-bottom: 2px solid #ddd;
    padding: 75px 50px;
}

.section:nth-child(even) {
    background: #fff;
}

.section-info {
    margin-bottom: 50px;
    text-align: center;
}

@media (min-width: 40em) {
    .section-text {
        margin: auto;
        max-width: 700px;
    }
}

.subtitle {
    color: #999;
}

.btn {
    background: #2ea0eb;
    border: 1px solid #2990d4;
    box-shadow: 0 3px 0 0 #2788c8;
    border-radius: 3px;
    color: #fff;
    padding: 5px 8px;
    text-align: center;
}

.mainBody {
    height: calc(100% - 90px);
    overflow-y: scroll;
}