/* button {
    color: grey;
    padding: 0.5em;
    margin: .5em;
    margin-left: 0%;
}

button:hover {
    border: solid;
} */


/* HeroDetailComponent's private CSS styles */

label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: rgb(17, 155, 224);
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #29abe2;
    color: rgb(255, 251, 251);
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}