<h2>
    My Heroes:</h2>

<div>
    <label>Hero name:
          <input title="enter new hero" #heroName />
        </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="add" title="Add hero" (click)="add(heroName.value); heroName.value=''">
          Add
        </button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes" title=" {{hero.name}}" routerLink="/detail/{{hero.id}}">
        <a>
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="Delete hero" (click)="delete(hero)">x</button>
    </li>
</ul>