/* HeroSearch private styles */

input {
    margin-top: 1em;
    margin-left: .3em;
    padding: .5em;
}

.search-result li {
    border-bottom: 1px solid rgb(8, 114, 185);
    border-left: 1px solid rgb(8, 114, 185);
    border-right: 1px solid rgb(8, 114, 185);
    width: 195px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
}

h4 {
    color: rgb(11, 103, 207);
}

.search-result li:hover {
    background-color: rgb(54, 126, 209);
}

.search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
}

.search-result li a:hover {
    color: white;
}

.search-result li a:active {
    color: white;
}

#search-box {
    width: 200px;
    height: 20px;
}

ul.search-result {
    margin-top: 0;
    padding-left: 0;
}